# user administrator administrators;
worker_processes 2;
pid /var/run/nginx.pid;
error_log /data/logs/nginx/error.log crit;

events {
    accept_mutex on;
    multi_accept on;
    worker_connections 1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;
    log_format access '[$time_local] $remote_addr:$remote_port "$request" $upstream_addr'
        ' [$status-$upstream_status] $body_bytes_sent [$request_time-$upstream_response_time] "$http_referer"'
        ' "$http_user_agent" $http_x_forwarded_for';
    access_log /data/logs/nginx/access.log access;

    upstream R27_SERVERS {
        server 192.168.0.17:9080 max_fails=1 fail_timeout=60;
        # server 192.168.0.17:9081 max_fails=1 fail_timeout=60;
        keepalive 64;
    }

    server {
        listen 80;
        server_name 192.168.0.17 localhost;
        access_log /data/logs/nginx/access.log access;
        location /api {
            # fastcgi_param REQUEST_METHOD $request_method;
            # fastcgi_param QUERY_STRING $query_string;
            # fastcgi_param CONTENT_TYPE $content_type;
            # fastcgi_param CONTENT_LENGTH $content_length;
            # fastcgi_param GATEWAY_INTERFACE CGI/1.1;
            # fastcgi_param SERVER_SOFTWARE nginx/$nginx_version;
            # fastcgi_param REMOTE_ADDR $remote_addr;
            # fastcgi_param REMOTE_PORT $remote_port;
            # fastcgi_param SERVER_ADDR $server_addr;
            # fastcgi_param SERVER_PORT $server_port;
            # fastcgi_param SERVER_NAME $server_name;
            # fastcgi_param SERVER_PROTOCOL $server_protocol;
            # fastcgi_param SCRIPT_FILENAME $fastcgi_script_name;
            # fastcgi_param PATH_INFO $fastcgi_script_name;
            # fastcgi_pass R27_SERVERS;
            proxy_pass http://192.168.0.17:8080;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }

        location / {
            root /approot/www;
        }
    }

}
